**This notebook is an exercise in the [Data Visualization](https://www.kaggle.com/learn/data-visualization) course.  You can reference the tutorial at [this link](https://www.kaggle.com/alexisbcook/final-project).**

---

Now it's time for you to demonstrate your new skills with a project of your own!

In this exercise, you will work with a dataset of your choosing.  Once you've selected a dataset, you'll design and create your own plot to tell interesting stories behind the data!

## Setup

Run the next cell to import and configure the Python libraries that you need to complete the exercise.

In [9]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("Setup Complete")

Setup Complete

The questions below will give you feedback on your work. Run the following cell to set up the feedback system.

In [10]:
# Set up code checking
from learntools.core import binder
binder.bind(globals())
from learntools.data_viz_to_coder.ex7 import *
print("Setup Complete")

Setup Complete

## Step 1: Attach a dataset to the notebook

Begin by selecting a CSV dataset from [Kaggle Datasets](https://www.kaggle.com/datasets).  If you're unsure how to do this, please revisit the instructions in the previous tutorial.

Once you have selected a dataset, click on the **[+ Add data]** option in the top right corner.  This will generate a pop-up window that you can use to search for your chosen dataset.  

![ex6_search_dataset](https://i.imgur.com/cIIWPUS.png)

Once you have found the dataset, click on the **[Add]** button to attach it to the notebook.  You can check that it was successful by looking at the **Data** dropdown menu to the right of the notebook -- look for an **input** folder containing a subfolder that matches the name of the dataset.

<center>
<img src="https://i.imgur.com/nMYc1Nu.png" width=30%><br/>
</center>

You can click on the carat to the left of the name of the dataset to double-check that it contains a CSV file.  For instance, the image below shows that the example dataset contains two CSV files: (1) **dc-wikia-data.csv**, and (2) **marvel-wikia-data.csv**.

<center>
<img src="https://i.imgur.com/B4sJkVA.png" width=30%><br/>
</center>

Once you've uploaded a dataset with a CSV file, run the code cell below **without changes** to receive credit for your work!

In [11]:
# Check for a dataset with a CSV file
step_1.check()

Correct:

## Step 2: Specify the filepath

Now that the dataset is attached to the notebook, you can find its filepath.  To do this, begin by clicking on the CSV file you'd like to use.  This will open the CSV file in a tab below the notebook.  You can find the filepath towards the top of this new tab.  

![ex6_filepath](https://i.imgur.com/fgXQV47.png)

After you find the filepath corresponding to your dataset, fill it in as the value for `my_filepath` in the code cell below, and run the code cell to check that you've provided a valid filepath.  For instance, in the case of this example dataset, we would set
```
my_filepath = "../input/fivethirtyeight-comic-characters-dataset/dc-wikia-data.csv"
```  
Note that **you must enclose the filepath in quotation marks**; otherwise, the code will return an error.

Once you've entered the filepath, you can close the tab below the notebook by clicking on the **[X]** at the top of the tab.

In [12]:
# Fill in the line below: Specify the path of the CSV file to read
my_filepath = '../input/nflstatistics/Basic_Stats.csv'

# Check for a valid filepath to a CSV file in a dataset
step_2.check()

Correct:

## Step 3: Load the data

Use the next code cell to load your data file into `my_data`.  Use the filepath that you specified in the previous step.

In [13]:
# Fill in the line below: Read the file into a variable my_data
my_data = pd.read_csv('../input/nflstatistics/Basic_Stats.csv')

# Check that a dataset has been uploaded into my_data
step_3.check()

Correct:

**_After the code cell above is marked correct_**, run the code cell below without changes to view the first five rows of the data.

In [34]:
# Print the first five rows of the data
my_data.head()

,Age,Birth Place,Birthday,College,Current_Status,Current Team,Experience,Height,High School,High School Location,Name,Number,Player Id,Position,Weight,Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [32]:
my_data.rename(columns = {'Current Status': 'Current_Status', 'Height (inches)': 'Height','Weight (lbs)':'Weight'},inplace = True)
my_data.head()

,Age,Birth Place,Birthday,College,Current_Status,Current Team,Experience,Height,High School,High School Location,Name,Number,Player Id,Position,Weight,Years Played
0,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
1,NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
3,30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
4,25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN

In [35]:
my_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17172 entries, 0 to 17171
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   13504 non-null  float64
 1   Birth Place           14794 non-null  object
 2   Birthday              16835 non-null  object
 3   College               17133 non-null  object
 4   Current_Status        17172 non-null  object
 5   Current Team          3096 non-null   object
 6   Experience            17133 non-null  object
 7   Height                17026 non-null  float64
 8   High School           2514 non-null   object
 9   High School Location  2510 non-null   object
 10  Name                  17172 non-null  object
 11  Number                1708 non-null   float64
 12  Player Id             17172 non-null  object
 13  Position              3096 non-null   object
 14  Weight                17121 non-null  float64
 15  Years Played          14076 non-null  object
dtypes: float64(4), object(12)
memory usage: 2.1+ MB

In [41]:
a = my_data.set_index('Current_Status')
a

,Age,Birth Place,Birthday,College,Current Team,Experience,Height,High School,High School Location,Name,Number,Player Id,Position,Weight,Years Played
Current_Status,,,,,,,,,,,,,,,
Retired,NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
Retired,NaN,"Dayton , OH",12/21/1930,Dayton,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
Retired,56.0,"Temple , TX",9/11/1960,Louisiana Tech,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
Retired,30.0,"New Orleans , LA",9/30/1986,LSU,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
Active,25.0,"Detroit , MI",3/31/1992,Central Michigan,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Retired,73.0,"Detroit , MI",2/15/1944,Michigan State,NaN,1 Season,71.0,NaN,NaN,"Goovert, Ron",NaN,rongoovert/2515082,NaN,225.0,1967 - 1967
Retired,32.0,"Worland , WY",8/19/1984,Weber State,NaN,1 Season,75.0,NaN,NaN,"Folsom, J.D.",NaN,j.d.folsom/238485,NaN,230.0,2009 - 2010
Retired,43.0,"Washington , DC",5/4/1974,Akron,NaN,1 Season,72.0,NaN,NaN,"Reader, Jamie",NaN,jamiereader/2502599,NaN,238.0,2001 - 2001
Retired,NaN,"New Willard , TX",3/30/1921,Baylor,NaN,2 Seasons,73.0,NaN,NaN,"Barnett, Solon",NaN,solonbarnett/2509044,NaN,235.0,1945 - 1946
Retired,54.0,"Bryan , TX",10/21/1962,Baylor,NaN,1 Season,73.0,NaN,NaN,"Johnson, Byron",NaN,byronjohnson/2517578,NaN,220.0,1987 - 1987

In [52]:
b = my_data.set_index('Age')
b

,Birth Place,Birthday,College,Current_Status,Current Team,Experience,Height,High School,High School Location,Name,Number,Player Id,Position,Weight,Years Played
Age,,,,,,,,,,,,,,,
NaN,"Grand Rapids , MI",5/23/1921,Notre Dame,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Evans, Fred",NaN,fredevans/2513736,NaN,185.0,1946 - 1948
NaN,"Dayton , OH",12/21/1930,Dayton,Retired,NaN,1 Season,70.0,NaN,NaN,"Raiff, Jim",NaN,jimraiff/2523700,NaN,235.0,1954 - 1954
56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
30.0,"New Orleans , LA",9/30/1986,LSU,Retired,NaN,5 Seasons,73.0,NaN,NaN,"Johnson, Quinn",NaN,quinnjohnson/79593,NaN,255.0,2009 - 2013
25.0,"Detroit , MI",3/31/1992,Central Michigan,Active,Pittsburgh Steelers,3rd season,77.0,Clintondale HS,"Clinton Twp.,Macomb Co., MI","Walton, L.T.",96.0,l.t.walton/2552444,DE,305.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73.0,"Detroit , MI",2/15/1944,Michigan State,Retired,NaN,1 Season,71.0,NaN,NaN,"Goovert, Ron",NaN,rongoovert/2515082,NaN,225.0,1967 - 1967
32.0,"Worland , WY",8/19/1984,Weber State,Retired,NaN,1 Season,75.0,NaN,NaN,"Folsom, J.D.",NaN,j.d.folsom/238485,NaN,230.0,2009 - 2010
43.0,"Washington , DC",5/4/1974,Akron,Retired,NaN,1 Season,72.0,NaN,NaN,"Reader, Jamie",NaN,jamiereader/2502599,NaN,238.0,2001 - 2001
NaN,"New Willard , TX",3/30/1921,Baylor,Retired,NaN,2 Seasons,73.0,NaN,NaN,"Barnett, Solon",NaN,solonbarnett/2509044,NaN,235.0,1945 - 1946
54.0,"Bryan , TX",10/21/1962,Baylor,Retired,NaN,1 Season,73.0,NaN,NaN,"Johnson, Byron",NaN,byronjohnson/2517578,NaN,220.0,1987 - 1987

## Step 4: Visualize the data

Use the next code cell to create a figure that tells a story behind your dataset.  You can use any chart type (_line chart, bar chart, heatmap, etc_) of your choosing!

In [59]:
# Create a plot
new_age = my_data.loc[my_data.Age<50]
new_status = my_data.loc[my_data.Current_Status]
#sns.barplot(a=my_data.Age, b=my_data.Experience)
#sns.barplot(a=my_data.loc[my_data.Age<50], b=my_data.Experience)

Review = sns.barplot(a = my_data.Current_Status , b = my_data.Age)
Review.set_xticklabels(Review.get_xticklabels(), rotation = 90)

plt.alabel('Current Status')
plt.blabel('Age')


step_4.check()

KeyError: "None of [Index(['Retired', 'Retired', 'Retired', 'Retired', 'Active', 'Retired',\n       'Retired', 'Active', 'Retired', 'Retired',\n       ...\n       'Retired', 'Retired', 'Retired', 'Retired', 'Retired', 'Retired',\n       'Retired', 'Retired', 'Retired', 'Retired'],\n      dtype='object', length=17172)] are in the [index]"

In [60]:
my_data.columns

Index(['Age', 'Birth Place', 'Birthday', 'College', 'Current_Status',
       'Current Team', 'Experience', 'Height', 'High School',
       'High School Location', 'Name', 'Number', 'Player Id', 'Position',
       'Weight', 'Years Played'],
      dtype='object')

## Keep going

Learn how to use your skills after completing the micro-course to create data visualizations in a **[final tutorial](https://www.kaggle.com/alexisbcook/creating-your-own-notebooks)**.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/data-visualization/discussion) to chat with other learners.*